
$orange: #f9ae00;
$orange-light: #efc932;

$yellow: #f4d531;
$yellow-light: #fcd704;
//$yellow: #f9ae00;
//$yellow-light: #f9ae00;
$blue: #212042;

/*btn*/
$btn-bg: #f4d531;
$btn-text: #1b1a43;

// fonts
$primary-font: 'PT Sans', Arial, sans-serif;
$default: 'PT Sans', Arial, sans-serif;
$ubuntu: 'Ubuntu', Arial, sans-serif;